<footer>
    <link rel="stylesheet" href="/css/footer.css">
  <div id="bottom">

<div class="newsletter">
    <div class="newsletter-title">
    <h4>¿Quieres suscribirte a nuestro newsletter?</h4>
    </div>
    <div class="newsletter-form">
    <form action="#" method="get">
        <input type="text" placeholder="Nombre" name="first-name" />
        <input type="text" placeholder="Escribe tu mail" name="mail" />
        <input type="checkbox" name="accept" />
        <input type="submit" value="Enviar" />
    </form>
</div>
<p>Al presionar el botón "Envíar" estas aceptando nuestras <a href=""><strong>Políticas de publicidad e información.</strong></a></p>
</div>
    
    
    
    
    <div class="social">
      <h4>¡¡Siguenos en nuestras redes para enterarte todas las novedades!!</h4>
      <a href=""><img
          class="facebook"
          src="/resources/icons8-facebook.svg"
          alt="facebook"
        /></a>
      <a href=""><img
          src="/resources/icons8-instagram.svg"
          alt="instagram"
        /></a>
    </div>
  </div>
  <div class="to-top"><a href="">Volver a Inicio</a></div>
</footer>