* {
    padding: 0;
    margin: 0;
}

/* Pages */
/* login */
.cardLogin {
    width: 360px;
    margin-bottom: 25px;
}

/* Register */
#registerForm {
    width: 600px;
    margin-bottom: 25px;
}


/* LandingPage */


.main-home {
    width: 100%;
    background-color: #F7A072;

}

main .products .product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 5px 2px #51515195;
    margin: 10px 0px;
    background-color: #6CA6C1;
}

main .products .product-info p {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    margin-top: 0px 10px;
}

main .products .product-info h3 {
    font-family: "STIX Two Text", serif;
    font-size: 26px;
    font-weight: lighter;
}

main .products .product-info button {
    background-color: rgba(0, 0, 0, 0.258);
    padding-left: 25px;
    padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 15px;
    font-size: 15px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px 2px #51515195;
    margin-bottom: 10px;
}

main .products .product-info button:hover {
    font-weight: bolder;
    background-color: #0104002a;
}

main .products .banner-img img {
    width: 100%;
}



























































/* Sections */

.main {
    background-color: #F7A072;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-products {
    background-color: #F7A072;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}




/* Header */
.promo:hover {
    background-color: #eadfb4bf;
}

.promo {
    padding: 9px;
    text-align: center;
    background-color: #6CA6C1;
}

.novedad:hover {
    font-weight: bolder;
}

.novedad {
    text-decoration: none;
    color: black;
}

.center-item {
    background-color: #18151E;
    text-align: center;
    color: transparent;
    padding: 25px;
}

#logo {
    height: 180px;
    width: 200px;
}

.navbar {
    padding: 0;
    background-color: #A22C29;
    position: sticky;
    top: 0;
    z-index: 1;
    margin-bottom: 10px;
}

.navbar .container-fluid {
    background-color: #A22C29;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar-brand:hover {
    font-size: 19.5px;
    font-weight: bolder;
}

.nav-link:hover {
    font-size: 16px;
    font-weight: bolder;
}

.dropdown-item:hover {
    font-size: 16px;
    font-weight: bolder;
    box-shadow: -2px 1px 45px 66px rgba(127, 149, 209, 0.65) inset;
    -webkit-box-shadow: -2px 1px 45px 66px rgba(127, 149, 209, 0.65) inset;
    -moz-box-shadow: -2px 1px 45px 66px rgba(127, 149, 209, 0.65) inset;
}








/* Footer */

footer .eboutique {
    background-color: #FFBF00;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .eboutique h2 {
    text-align: center;
    font-family: "STIX Two Text", serif;
    color: white;
    font-size: 50px;
}

footer .eboutique p {
    font-size: 20px;
    font-family: "Lato", sans-serif;
    font-weight: lighter;
}



footer {
    width: 100%;
}

footer #bottom {
    display: flex;
    justify-content: space-between;
    background-color: #A22C29;
    padding-top: 15px;
    padding-bottom: 15px;
}

footer .newsletter p {
    font-size: small;
    margin-left: 10px;
    color: #010400;
}

footer .newsletter a {
    color: #010400;
}

footer .newsletter-title h4 {
    margin-left: 10px;
    color: #010400;

}

footer .newsletter-form {
    margin-left: 10px;
}

footer .newsletter-form input {
    margin: 3px;
}

footer .social {
    text-align: right;
    margin-right: 10px;
}

footer .social a img:hover {
    width: 55px;
    height: 55px;
}

footer .facebook {
    width: 50px;
    height: 45px;
}

footer .social a img {
    width: 50px;
    height: 48px;
}

footer .social h4 {
    color: #010400;

}

footer .to-top {
    background-color: #000000;
    text-align: center;
    padding: 15px;
    font-size: large;
}

footer .to-top a {
    color: white;
    text-decoration: none;
}

footer .to-top:hover {
    font-weight: bolder;
    font-size: 20px;
}