<link rel="stylesheet" href="/css/main.css">
<section name="body" class="main-home">
 <header class="header">
    <div class="promo animate__animated animate__pulse">
      <a href="http://localhost:9090/api/products" class="novedad">href Products</a>
    </div>
    <div class="center-item"><a href="http://localhost:9090/"><img id="logo" src="/resources/logo1.jpg" alt="logo-tienda"></a>
    </div>
  </header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="http://localhost:9090/">TiendaNombre</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="">NAV 1</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              NAV2
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="./pages/perfumes.html">NAV 3</a></li>
              <li><a class="dropdown-item" href="./pages/cremas.html">NAV 4</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:9090/api/sessions/viewLogin">BackOffice</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>
  <main>
    <section class="products">
      <div class="banner-img"><img src="https://i.ytimg.com/vi/g_Y9ZV-y3bM/mqdefault.jpg" alt="Error42"></div>
      <div class="product-info">
        <p data-aos="fade-right">InputText</p>
        <h3 data-aos="fade-right">InputTitle</h3>
        <button data-aos="fade-right">Button</button>
      </div>
      <div class="banner-img"><img src="/resources/banner2.jpg" alt="Soft N Cute"></div>
      <div class="product-info">
        <p data-aos="fade-right">InputText</p>
        <h3 data-aos="fade-right">InputTitle</h3>
        <button data-aos="fade-right">Button</button>
      </div>
      <div class="banner-img"><img src="https://miro.medium.com/v2/resize:fit:439/1*ZYyXvhYDGvELzYoXYpPLMg.png" alt="E Discreta Parfum"></div>
      <div class="product-info">
        <p data-aos="fade-right">InputText</p>
        <h3 data-aos="fade-right">InputTitle</h3>
        <button data-aos="fade-right">Button</button>
      </div>
    </section>
  </main>
  <footer>
    <div class="eboutique">
      <h2 data-aos="fade-up">You know you love me, I know you care<h2>
          <p data-aos="fade-up">Just shout whenever <em>and I'll be there</em> You are my love <em>you are my heart</em><br>
            Are we an item? girl, quit playin' <br>
            "We're just friends" <strong>what are you sayin'?</strong></p>
    </div>
    <div id="bottom">
      <div class="newsletter">
        <div class="newsletter-title">
          <h3>¿Quieres suscribirte a nuestro newsletter?</h3>
        </div>
        <div class="newsletter-form">
          <form action="#" method="get">
            <input type="text" placeholder="Nombre" name="first-name">
            <input type="text" placeholder="Escribe tu mail" name="mail" >
            <input type="checkbox" name="accept" >
            <input type="submit" value="Enviar" >
          </form>
        </div>
        <p>Al presionar el botón "Envíar" estas aceptando nuestras <a href=""><strong>Políticas de publicidad e
              información.</strong></a></p>
      </div>
      <div class="social">
        <h4>¡Siguenos en nuestras redes para enterarte todas las novedades!</h4>
        <a href="https://i.kym-cdn.com/entries/icons/facebook/000/045/844/zuckrberg_window.jpg" ><img class="facebook" src="./resources/icons8-facebook.svg" alt="facebook"></a>
        <a href="https://miro.medium.com/v2/resize:fit:1200/1*L17cV5QipasLjL_0mcgI0Q.jpeg" ><img src="./resources/icons8-instagram.svg" alt="instagram"></a>
      </div>
    </div>
    <div class="to-top"><a href="./index.html">Volver a Inicio</a></div>
  </footer>
</section>