<section class="main">
  <header>
    <div class="user-top-bar">
      <div class="bar-left-side">
        <img
          class="profile-img"
          src="/resources/user.png"
          alt="Imagen de perfil"
        />
        <h5 class="user-name">pepe</h5>
      </div>
      <div class="bar-rigth-side">
       <span class="material-symbols-outlined">home</span>  
        <a href=""><img src="" alt="Notes" />Notes</a>
        <a href=""><img src="" alt="User" />User</a>
      </div>
    </div>  
  </header>

  <h1>userplatform{{user.first_name}}</h1>

</section>
